@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tool {
    @apply ml-3 pl-1 pr-1 rounded-md hover:bg-zinc-200
  }

  .normal-text {
    @apply bg-white border border-zinc-300 p-4 px-7 hover:bg-slate-100
  }

  .button {
    @apply bg-indigo-400 border border-white p-4 pl-6 pr-6 rounded-lg mt-4 text-white font-bold  hover:bg-violet-600
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
